@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="index-banner">
        <div class="vertical-centar">
            <h2>Join our community<br />RollerMania!</h2>
            <h1>
                Have fun, learn new things and meet other geeks, ride with us in the
                city of Plovdiv!
            </h1>
        </div>
    </section>
    <div class="wrapper">
        <section class="index-box">
            <div class="index-boxline">
                <h3>Why to join?</h3>
                <p class="boxline-p">
                    No matter what level of development you are at, there will be
                    something to learn.You need advice or have a question about rollers?
                    In our forum wecan help you. <br>
                    Benefits of your joining:
                </p>
            </div>
            <div class="conteiner">
                <div class="index-boxone-square">
                    <h4>You are beginner!</h4>
                    <ul class="list">
                        <li class="main-item"><p>How to learn to rollerblade</p></li>
                        <li class="main-item"><p>Help or advice from the forum</p></li>
                        <li class="main-item"><p>Making new friendships</p></li>
                    </ul>
                </div>
                <div class="index-boxtwo-square">
                    <h4>You are advanced!</h4>
                    <ul class="list">
                        <li class="main-item"><p>Learning new skills</p></li>
                        <li class="main-item"><p>New content from the forum</p></li>
                        <li class="main-item"><p>New adventures</p></li>
                    </ul>
                </div>
            </div>
            <div class="index-box-square">
                <h4>Be part of our community!</h4>
                <div class="register">
                    <button class="btn-reg"><a href="pages/register.html">register now</a></button>
                </div>
            </div>
        </section>
    </div>
</main>
